
@{
    Layout = null;
}

@model  List<TryMVC.Models.Equipment>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm("Create", "Home",FormMethod.Post))
	{
    <input type="text" name="equipment" value="" />
    <input type="submit" name="Add" value="" />
    }
    

    <div>
        <label>Equipments</label>
        <ul>
            @foreach (var equipment in Model)
            {
            <li>
                @equipment.Name;
            </li>
            }
        </ul>
    </div>
</body>
</html>
